<div class="cart">

        <header>
            <div class="header-top">
                <div class="title-left"><i class="yo-ico">&#xe697;</i></div>
                <div class="header-title">购物车</div>
                <div class="title-right">编辑</div>
            </div>
            <div class="header-bottom">
                <div class="rule-text">满39元免运费</div>
                <div>
                    <span>已免运费</span>
                    <i class="yo-ico">&#xe6a4;</i>
                </div>
            </div>
        </header>
        <div class="cart-container">
            <div class="rule-header">
                <div class="rule-marks">
                    <span class="man-z">满赠</span>
                </div>
                <div class="rule-txt">【满减专属】满309赠新品外焦圈购物车领 </div>
                <div class="rule-line"><i class="yo-ico">&#xe6a7;</i> </div>
                <div class="rule-button">去凑单</div>
            </div>
            <div class="cart-items">
                <ul>
                    <li>
                        <div class="imgbox">
                            <img src="http://pic10.cdn.3songshu.com:81//assets/upload/product/9c6be3cc9317d47ea0a8d3795702ea5e_200x200.jpg" alt="">
                        </div>
                        <div class="cont">
                            <div class="item-title">
                                <p class="i-t-left">芒果干 116g</p>
                                <p class="i-t-r">其它</p>
                            </div>
                            <div class="item-price">9.90</div>
                            <div class="item-num">
                                <button class="num-reduce">-</button>
                                <input type="number" value="1" class="num-show">
                                <button class="num-add">+</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <footer>
            <div class="total">
                <p class="payable">
                    应付
                    <span>19.80</span>
                </p>
                <p class="other-price">
                    <span>总价：<i>19.80</i></span>
                    <span>优惠：<i>0.00</i></span>
                </p>
            </div>
            <div class="button-bar">
                <span>去结算</span>
                <span>(2)</span>
            </div>
        </footer>
</div>