<div class="container">
    <main></main>
    <footer>
        <nav>
            <ul>
                <li class="home active" id="home">
                    <i></i>
                    <span>首页</span>
                </li>
                <li class="classify" id="sort">
                    <i></i>
                    <span>分类</span>
                </li>
                <li class="shopping " id="vip">
                    <i></i>
                    <span>松鼠币商城</span>
                </li>
                <li class="cart" id="cart">
                    <i></i>
                    <span>购物车</span>
                </li>
                <li class="profile" id="profile">
                    <i></i>
                    <span>个人中心</span>
                </li>
            </ul>
        </nav>
    </footer>
</div>