<div class="profile">
    <div class="better-scroll">

        <div class="card">
            <div class="bg-img"></div>
            <div class="user-content">
                <div class="user-avatar">
                    <img src="http://pic10.cdn.3songshu.com:81//assets/upload/avatar/11ff7b844fdbfb576ae8f9ff80239743.jpg" alt="">
                </div>
                <div class="user-namebar">
                    <p class="user-pho">183****3051</p>
                    <p class="ng-binding">
                        <span>账户管理、收货地址</span>
                        <i class="yo-ico">&#xe6a7;</i>
                    </p>
                </div>
            </div>
            <div class="user-button">
                 <div class="u-b-left">
                     <p>0</p>
                     <p>我的收藏夹</p>
                 </div>
                 <div class="u-b-right">
                     <p>
                         <i></i>
                         <span>200</span>
                     </p>
                     <p>我的松鼠币</p>
                 </div>
            </div>
        </div>
        <ul class="order">
             <li>
                 <div>
                     <i class="icon-l"></i>
                     <span>我的订单</span>
                     <span class="all-order">查看全部订单</span>
                     <i class="yo-ico">&#xe6a7;</i>
                 </div>
             </li>
             <li>
                 <a href="#">
                     <i class="pending-1"></i>
                     待付款
                 </a>
                 <a href="#">
                     <i class="pending-2"></i>
                     待发货
                 </a>
                 <a href="#">
                     <i class="pending-3"></i>
                     待收货
                 </a>
                 <a href="#">
                     <i class="pending-4"></i>
                     待评价
                 </a>
                 <a href="#">
                     <i class="pending-5"></i>
                     退款/售后
                 </a>
             </li>
         </ul>
         <ul class="ul">
             <li>
                 <div>
                     <i class="ico-l"></i>
                     <span class="item-txts">我的优惠券</span>
                     <span class="item-tips">7张</span>
                     <i class="yo-ico ico-r">&#xe6a7;</i>
                 </div>
             </li>
             <li>
                 <div>
                     <i class="ico-l recommend"></i>
                     <span class="item-txts">推荐有奖</span>
                     <i class="yo-ico ico-r">&#xe6a7;</i>
                 </div>
             </li>
         </ul>
         <ul class="ul">
             <li>
                 <div>
                     <i class="ico-l service"></i>
                     <span class="item-txts ">在线客服</span>
                     <i class="yo-ico ico-r">&#xe6a7;</i>
                 </div>
             </li>
             <li>
                 <div>
                     <i class="ico-l help"></i>
                     <span class="item-txts">帮助与反馈</span>
                     <i class="yo-ico ico-r">&#xe6a7;</i>
                 </div>
             </li>
             <li>
                 <div>
                     <i class="ico-l setting"></i>
                     <span class="item-txts ">设置</span>
                     <span class="item-tips">关于我们</span>
                     <i class="yo-ico ico-r">&#xe6a7;</i>
                 </div>
             </li>
         </ul>
    </div>
</div>