<div id="signin-box">
   <div class="top">
      <div class="back-home">
         <i class="yo-ico">&#xe697;</i>
      </div>
      <div class="signi-title">
            登录
      </div>
      <div class="top-right"></div>
   </div>
   <div class="wrapper">
      <form class="signin-form" action="javascript:void(0)">
         <div class="login-img "></div>
         <div class="signin-main">
            <p>
               <i class="icon-user"></i>
               <span>
                  <input type="text" name="username" id="username" placeholder='请输入手机号'>
               </span>
            </p>
            <p>
               <i class="icon-password"></i>
               <span>
                  <input type="password" name="password" id="password" placeholder='请输入密码'>
               </span>
            </p>
         </div>
         <div class="sign-btn ">
            <button class="submit">
               登录
            </button>
         </div>
         <div class="signin-option">
            <span>快速注册</span>
            <span>忘记密码?</span>
         </div>
      </form>
   </div>
</div>