<div class="sort">
    <header>
        <div class="titles">
            <div class="active">分类</div>
            <div>发现</div>
        </div>
        <div class="sort-search">
            <i></i>
        </div>
    </header>
    <nav class="sort-main">
        <div class="sort-left">
            <ul>
                {{each data}}
                <li class="sort-title">
                    <div>{{$value.name}}</div>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="sort-right">
        </div>
    </nav>
</div>